body {
    background: linear-gradient(0deg, #89CFF0 0%, #0047AB 100%);
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
 }

.container {
    width: 400px;
    margin: 40px auto;
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #0047AB;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
    width: 100%;
    color: #0047AB;

}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #87bfff;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    margin-top: 8px;
}

.boti {
    width: 300px;
    padding: 12px;
    background: #0047AB;
    color: #f9fbfd;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;

}

.boti:hover {
    background: #0065d1;

}

.card-MVC {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    color: white;
    justify-content: center;     
    width: 350px;
    padding: 20px;
    height: 330px;
    background-color: rgba(255, 255, 255, 0.712);

}

img {
    width: 80px;
    margin-top: 25px;
}

.form-wrapper-mvc {
    width: 80%;
    text-align: left;
    margin-left: -25px;
}

.form-wrapper input {
  width:100%;
}